bridge/src/xml/dtd/mpi-databridge.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by opec (opec) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT mpidb:databridge (mpidb:ListeningService?, mpidb:AuditingService?, mpidb:MonitoringService?, mpidb:PlugIns?)>
<!ATTLIST mpidb:databridge
	xmlns:mpidb CDATA #REQUIRED
	autoSave (true | false) #IMPLIED
>
<!ELEMENT mpidb:AuditingService (mpidb:mailServer, mpidb:logHandler+)>
<!ATTLIST mpidb:AuditingService
	samplingTime CDATA #REQUIRED
	merchantJNDI CDATA #REQUIRED
	merchantSchema CDATA #IMPLIED
>
<!ELEMENT mpidb:ListeningService (mpidb:listeningAttribute+)>
<!ATTLIST mpidb:ListeningService
	timeServiceInterval CDATA #IMPLIED
>
<!ELEMENT mpidb:MonitoringService (mpidb:jmxconfig+)>
<!ELEMENT mpidb:PlugIns (mpidb:plugin*)>
<!ELEMENT mpidb:cc (#PCDATA)>
<!ELEMENT mpidb:customData (#PCDATA)>
<!ELEMENT mpidb:email (mpidb:emailTemplate, mpidb:sender, mpidb:to, mpidb:cc)>
<!ELEMENT mpidb:emailTemplate (#PCDATA)>
<!ELEMENT mpidb:field (#PCDATA)>
<!ATTLIST mpidb:field
	encryption (true | false) #IMPLIED
	fmt CDATA #IMPLIED
>
<!ELEMENT mpidb:jmxconfig EMPTY>
<!ATTLIST mpidb:jmxconfig
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT mpidb:listener (mpidb:merchantid*, mpidb:customData?)>
<!ATTLIST mpidb:listener
	id CDATA #REQUIRED
	status (start | stop) #IMPLIED
	acceptFilter (true | false) #IMPLIED
	acceptDynamicFilter (true | false) #IMPLIED
>
<!ELEMENT mpidb:listeningAttribute EMPTY>
<!ATTLIST mpidb:listeningAttribute
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT mpidb:logHandler (mpidb:merchantid*, mpidb:msg*, mpidb:email)>
<!ATTLIST mpidb:logHandler
	id CDATA #REQUIRED
	status (start | stop) #IMPLIED
	maxRows CDATA #REQUIRED
	threshold CDATA #REQUIRED
	mailNotify CDATA #REQUIRED
	period CDATA #REQUIRED
>
<!ELEMENT mpidb:mailServer EMPTY>
<!ATTLIST mpidb:mailServer
	auth (no | yes) #IMPLIED
	username CDATA #IMPLIED
	passwd CDATA #IMPLIED
	inet CDATA #REQUIRED
>
<!ELEMENT mpidb:merchantid (#PCDATA)>
<!ELEMENT mpidb:msg (mpidb:field*)>
<!ATTLIST mpidb:msg
	type CDATA #REQUIRED
	version CDATA #IMPLIED
>
<!ELEMENT mpidb:plugin (mpidb:msg*, mpidb:listener*)>
<!ATTLIST mpidb:plugin
	id CDATA #REQUIRED
	classname CDATA #REQUIRED
>
<!ELEMENT mpidb:sender (#PCDATA)>
<!ELEMENT mpidb:to (#PCDATA)>
