bridge/src/xml/dtd/mpi-messages.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by opec (opec) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT field (#PCDATA)>
<!ATTLIST field
	mandatory (false | true) #REQUIRED
	mustEncryption (false | true) #REQUIRED
>
<!ELEMENT message (field+)>
<!ATTLIST message
	type (CRReq | CRRes | Error | MPIError | PAReq | PARes | PaymentAuthReq | PaymentAuthRes | PaymentVerifReq | PaymentVerifRes | VEReq | VERes) #REQUIRED
	version CDATA #REQUIRED
	xpath CDATA #REQUIRED
>
<!ELEMENT messageDefiniton (message+)>
