bridge/src/xml/xsd/mpi-databridge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by opec (opec) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AuditingService">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mailServer"/>
				<xs:element ref="logHandler" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="samplingTime" type="xs:short" use="required"/>
			<xs:attribute name="merchantJNDI" type="xs:string" use="required"/>
			<xs:attribute name="merchantSchema" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListeningService">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listeningAttribute" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="timeServiceInterval" type="xs:short" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MonitoringService">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jmxconfig" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlugIns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cc" type="xs:string"/>
	<xs:element name="customData" type="xs:string"/>
	<xs:element name="databridge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ListeningService"/>
				<xs:element ref="AuditingService"/>
				<xs:element ref="MonitoringService"/>
				<xs:element ref="PlugIns"/>
			</xs:sequence>
			<xs:attribute name="autoSave" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="email">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="emailTemplate"/>
				<xs:element ref="sender"/>
				<xs:element ref="to"/>
				<xs:element ref="cc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="emailTemplate" type="xs:string"/>
	<xs:element name="field">
		<xs:complexType>
			<xs:attribute name="encryption" type="xs:boolean" use="optional"/>
			<xs:attribute name="fmt" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jmxconfig">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listener">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="merchantid" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="customData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="status" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="start"/>
						<xs:enumeration value="stop"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="acceptFilter" type="xs:boolean" use="optional"/>
			<xs:attribute name="acceptDynamicFilter" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listeningAttribute">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="logHandler">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="merchantid" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="msg" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="email"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="status" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="start"/>
						<xs:enumeration value="stop"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maxRows" type="xs:int" use="required"/>
			<xs:attribute name="threshold" type="xs:int" use="required"/>
			<xs:attribute name="mailNotify" type="xs:boolean" use="required"/>
			<xs:attribute name="period" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mailServer">
		<xs:complexType>
			<xs:attribute name="auth" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="username" type="xs:string" use="optional"/>
			<xs:attribute name="passwd" type="xs:string" use="optional"/>
			<xs:attribute name="inet" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="merchantid" type="xs:string"/>
	<xs:element name="msg">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="msg" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="listener" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="classname" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sender" type="xs:string"/>
	<xs:element name="to" type="xs:string"/>
</xs:schema>
