bridge/src/xml/xsd/mpi-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by opec (opec) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="messageDefiniton">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="field" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="mandatory" type="xs:boolean" use="required"/>
											<xs:attribute name="mustEncryption" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="CRReq"/>
									<xs:enumeration value="CRRes"/>
									<xs:enumeration value="Error"/>
									<xs:enumeration value="MPIError"/>
									<xs:enumeration value="PAReq"/>
									<xs:enumeration value="PARes"/>
									<xs:enumeration value="PaymentAuthReq"/>
									<xs:enumeration value="PaymentAuthRes"/>
									<xs:enumeration value="PaymentVerifReq"/>
									<xs:enumeration value="PaymentVerifRes"/>
									<xs:enumeration value="VEReq"/>
									<xs:enumeration value="VERes"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="version" type="xs:string" use="required"/>
						<xs:attribute name="xpath" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
